<ul>
	<li><b>Bike Company: </b> <%= @bike.company %></li>
	<li><b>Bike Model: </b> <%= @bike.model %></li>
	<li><b>Bike Color: </b> <%= @bike.color %></li>
	<li><b>Bike Kms Run: </b> <%= @bike.kms_run %></li>
	<li><b>Owner Name: </b> <%= @bike.name %></li>
	<li><b>Owner Phone Number: </b> <%= @bike.phone_number %></li>
	<li><b>Owner City: </b> <%= @bike.city %></li>
</ul>