<ul>
	<li><b>Car Company: </b> <%= @car.company %></li>
	<li><b>Car Model: </b> <%= @car.model %></li>
	<li><b>Car Color: </b> <%= @car.color %></li>
	<li><b>Car Kms Run: </b> <%= @car.kms_run %></li>
	<li><b>Owner Name: </b> <%= @car.name %></li>
	<li><b>Owner Phone Number: </b> <%= @car.phone_number %></li>
	<li><b>Owner City: </b> <%= @car.city %></li>
</ul>